cabecalho{ 
background-color: rgb(32, 31, 32);
color: white;
display: flex;
justify-content: epase-around;
align-items: center
padding: 24px;
}

.cabecalho-imagem{
     width: 20%; 
}

.cabecalho_lista_item{
    display:inline-block
margin: 0 16px;
font-size;
}